.game_card_container {
  display: flex;
  width: 100vw;
  height: 100vh;

  &__button {
    background-color: white;
    font-size: 2rem;
    padding: 8px 16px;
    color: $primary-color;
    font-weight: bold;

    @include respond(sm) {
      font-size: 1rem;
    }
  }

  @include respond(sm) {
    flex-direction: column;
  }

  &__control_panel {
    display: flex;
    padding: 1rem;
    width: 30%;
    height: 100%;
    background-color: rgba($primary-color, 0.95);
    color: white;
    flex-direction: column;

    &__info {
      display: flex;
      flex-direction: column;

      &__global_score {
        &--blink {
          animation: blinker 1s linear infinite;
        }
      }
    }

    @include respond(sm) {
      flex-direction: row;
      padding: 0.3rem;
      justify-content: space-between;
      font-size: 0.1rem;
      width: 100%;
      height: 15%;
    }
  }

  &__cards {
    display: grid;
    width: 70%;
    height: 100%;
    justify-items: center;
    padding: 0.2rem;
    gap: 0.3rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba($secondary-color, 1);

    @include respond(sm) {
      width: 100%;
      height: 85%;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
