@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (max-width: 640px) {
      @content;
    } //600px
  }
  @if $breakpoint == md {
    @media only screen and (min-width: 768px) {
      @content;
    } //900px
  }
  @if $breakpoint == lg {
    @media only screen and (min-width: 1024px) {
      @content;
    } //1200px
  }
  @if $breakpoint == xl {
    @media only screen and (min-width: 1280px) {
      @content;
    } //1800
  }
}
