@import "./abstracts/mixins";
@import "./abstracts/variable";
@import "./base/animations";
@import "./components/card";
@import "./pages/home";
@import "./pages/game-card";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
